---
---

<h3>
    How to use this app
</h3>
<ol>
    <li>Hit the play/stop button to toggle playback</li>
    <li>Use the slider to change the tempo</li>
    <li>Play along and enjoy</li>
</ol>
<p>
    The lowest fret is shown in the top left corner of the fretboard.
</p>
<p>
    Below the fretboard you can check/uncheck the bars you want to play.
    You can also click/tap on the bar indicator above the checkbox to jump to that bar.
</p>
