.container {
    max-width: 440px !important;
}

nav {
    background-color: var(--bs-gray-200) !important;
}

h1 {
    font-size: 1.75rem !important;
}

h2 {
    margin-top: 30px !important;
    font-size: 1.5rem !important;
}

h3 {
    margin-top: 20px !important;
    font-size: 1.25rem !important;
}

blockquote {
    font-style: italic;
}

.nav-item a {
    text-decoration: none !important;
}